<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>

    </h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>getting data from db.json</h1>
            <br><br>
            <button class="btn-success">
                <a routerLink="/addrecord" style='text-decoration: none; color: aliceblue; '> Add Record</a>
            </button>
           
            <br><br>
            <table class="table table-bordered table-striped table-hover table-dark">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let row of apiData">
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.course}}</td>
                        <td> &nbsp;
                            <button class="btn btn-danger" (click)="delete(row.id)">Delete</button>
                            &nbsp;
                            <button class="btn btn-warning">
                                <a routerLink="/update/{{row.id}}">Edit</a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>